<h2>Register</h2>
<h3>Username: </h3>
<input type="text" id="username">
<h3>Password: </h3>
<input type="text" id="password">

<button onclick="submitForm()">
  Click Button
</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
  function submitForm() {
    console.log('cl')
    var username = document.getElementById("username")
    var password = document.getElementById("password")
    console.log(username.value)
    console.log(password.value)
    var data = {
      username: username.value,
      password: password.value
    }
    $.ajax({
      type: "POST",
      url: '/api/user/create',
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (msg) {
        console.log('succ')
      },
      error: function (err) {
        console.log('err ', err)
      }
    });
  }

</script>